html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
}

a {
  text-decoration: none;
}

ul {
  -webkit-padding-start: 0px !important;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

input {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
}


#header img{
  width: 100%;
}

#footer img{
  width: 100%;
}

#contents-inner {
  padding-top: 80px;
  padding-right: 60px;
  padding-bottom: 80px;
  padding-left: 60px;
}

.switch {
  display: inline-block;
  width: 203px;
  line-height:  60%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px 20px;
  border-radius: 25px;
  text-decoration: none;
  text-align: center;
  color: #FFF;
  border: #FFF;
  background-image: -webkit-linear-gradient(bottom left, #FFC107 0%, #ff8b5f 100%);
  background-image: -o-linear-gradient(bottom left, #FFC107 0%, #ff8b5f 100%);
  background-image: linear-gradient(to top right, #FFC107 0%, #ff8b5f 100%);
  transition: .4s;
}

#input [name="checked"] {
  display: block;
  width: 100px;
  height: 20px;
  color: black !important;
  font-size: 20px;
}

.submit {
  display: inline-block;
  width: 203px;
  line-height:  60%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px 20px;
  border-radius: 25px;
  text-decoration: none;
  text-align: center;
  color: #FFF;
  border: #FFF;
  background-image: -webkit-linear-gradient(bottom left, #87cefa 0%, #6495ed 100%);
  background-image: -o-linear-gradient(bottom left, #87cefa 0%, #6495ed 100%);
  background-image: linear-gradient(to top right, #87cefa 0%, #6495ed 100%);
  transition: .4s;
}

.home {
  margin-left: 60px;
  margin-top: 20px;
}

.deals {
  padding-top: 20px;
  padding-bottom: 20px;
}

.deal {
  padding-top: 10px;
  border-bottom: solid 1px;
}

.page-bottom {
  margin: 0;
  padding: 0;
  position: fixed;
  right: 20px;
  bottom: 80px;
}

.move-submit {
  display: block;
  background-color: #D36015;
  width: 40px;
  height: 40px;
  color: #fff;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
	-webkit-transition:all 0.3s ;
	-moz-transition:all 0.3s ;
	transition:all 0.3s ;
}

.move-submit:hover {
  opacity: 0.85;
}

.file {
  background-color: gray;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
